<%- include('../base/header', {
    header: {
        title: "OmniBetter - Conditions de livraison",
        css: "policies/model"
    }
}) %>

<main>
  <h1>Politique d'Expédition</h1>

  <h2>ARTICLE 1 - PRIX</h2>
  <p>
    Les Produits sont fournis aux tarifs en vigueur figurant sur le site <a class="contact" href="https://omnibetter.fr">https://omnibetter.fr</a>, lors de l'enregistrement de la commande par le Vendeur.<br><br>
    Les prix sont exprimés en Euros, HT et TTC.<br><br>
    Les tarifs tiennent compte d'éventuelles réductions qui seraient consenties par le Vendeur sur le site
    <a class="contact" href="https://omnibetter.fr">https://omnibetter.fr</a>.<br><br>
    Ces tarifs sont fermes et non révisables pendant leur période de validité mais le Vendeur se réserve le droit,
    hors période de validité, d’en modi?er les prix à tout moment.<br><br>
    Les prix ne comprennent pas les frais de traitement, d'expédition, de transport et de livraison, qui sont
    facturés en supplément, dans les conditions indiquées sur le site et calculés préalablement à la passation de
    la commande.<br><br>
    Le paiement demandé au Client correspond au montant total de l‘achat, y compris ces frais.<br><br>
    Une facture est établie par le Vendeur et remise au Client lors de la livraison des Produits commandés.
  </p>

  <h2>ARTICLE 2 - LIVRAISONS</h2>
  <p>
    Les Produits commandés par le Client seront livrés en France métropolitaine ou dans la/les zones suivantes:<br><br>
    Espagne, Belgique et Suisse.<br><br>
    Les livraisons interviennent dans un délai de 7- 10 jours à l‘adresse indiquée par le Client lors de sa
    commande sur le site.<br><br>
    La livraison est constituée par le transfert au Client de la possession physique ou du contrôle du Produit.
    Sauf cas particulier ou indisponibilité d'un ou plusieurs Produits, les Produits commandés seront livrés en
    une seule fois.<br><br>
    Le Vendeur s'engage à faire ses meilleurs efforts pour livrer les produits commandés par le Client dans les
    délais cî-dessus précisés.<br><br>
    Si les Produits commandés n'ont pas été livrés dans un délai de 5 jours après la date indicative de livraison,
    pour toute autre cause que la force majeure ou le fait du Client, la vente pourra être résolue à la demande
    écrite du Client dans les conditions prévues aux articles L 216—2, L 216—3 et L241—4 du Code de la
    consommation. Les sommes versées par le Client lui seront alors restituées au plus tard dans les quatorze
    jours qui suivent la date de dénonciation du contrat, à l'exclusion de toute indemnisation ou retenue.<br><br>
    Les livraisons sont assurées par un transporteur indépendant, à l‘adresse mentionnée par le Client lors de la
    commande et à laguelle le transgorteur gourra facilement accéder.<br><br>
    Lorsque le Client s‘est luî—même chargé de faire appel à un transporteur qu'il choisit lui—même, la livraison est
    réputée effectuée dès la remise des Produits commandés par le Vendeur au transporteur qui les & acceptés
    sans réserves. Le Client reconnaît donc que c'est au transporteur qu'il appartient d‘effectuer la livraison et ne
    dispose d‘aucun recours en garantie contre le Vendeur en cas de défaut de livraison des marchandises
    transportées.<br><br>
    En cas de demande particulière du Client concernant les conditions d'emballage ou de transport des produits
    commandés, dûment acceptées par écrit par le Vendeur, les coûts y liés feront l'objet d'une facturation
    spéci?que complémentaire, sur devis préalablement accepté par écrit par le Client.<br><br>
    Le Client est tenu de vérifier l‘état des produits livrés. Il dispose d'un délai de 48 heures à compter de la
    livraison pour formuler des réclamations par mail, accompagnées de tous les justi?catifs y afférents (photos
    notamment). Passé ce délai et à défaut d‘avoir respecté ces formalités, les Produits seront réputés
    conformes et exempts de tout vice apparent et aucune réclamation ne pourra être valablement acceptée par
    le Vendeur.<br><br>
    Le Vendeur remboursera ou remplacera dans les plus brefs délais et à ses frais, les Produits livrés dont les
    défauts de conformité ou les vices apparents ou cachés auront été dûment prouvée par le Client, dans les
    conditions prévues aux articles L 217—4 et suivants du Code de la consommation et celles prévues aux
    présentes CGV.<br><br>
    Le transfert des risques de perte et de détérioration s'y rapportant, ne sera réalisé qu'au moment où le Client
    prendra physiquement possession des Produits. Les Produits voyagent donc aux risques et périls du
    Vendeur sauf lorsque le Client aura lui-même choisi le transporteur. A ce titre, les risques sont transférés au
    moment de la remise du bien au transporteur.
  </p>

  <h2>ARTICLE 3 - TRANSFERT DE PROPRIÉTÉ</h2>
  <p>
    Le transfert de propriété des Produits du Vendeur au Client ne sera réalisé qu'après complet paiement du
    prix par ce dernier, et ce quelle que soit la date de livraison desdits Produits.
  </p>

  <h2>ARTICLE 4 - DROIT DE RÉTRACTATION</h2>
  <p>
    Selon les modalités de l’article L221—18 du Code de la Consommation « Pour les contrats prévoyantIa
    livraison régulière de biens pendant une période définie, le délai court à compter de la réception du premier
    bien. »<br><br>
    Le droit de rétractation peut être exercé en ligne, à l‘aide du formulaire de rétractation ci—joint et également
    disponible sur le site ou de toute autre déclaration, dénuée d‘ambîguîté, exprimant la volonté de se rétracter et notamment par courrier postal adressé au Vendeur aux coordonnées postales ou mail indiquées à
    l'ARTICLE 1 des CGV.<br><br>
    Les retours sont à effectuer dans leur état d'origine et complets (emballage, accessoires, notice...)
    permettant leur recommercialisation à l'état neuf, accompagnés de la facture d'achat.<br><br>
    Les Produits endommagés, salis ou incomplets ne sont pas repris.<br><br>
    Les frais de retour restant à la charge du Client.<br><br>
    L'échange (sous réserve de disponibilité) ou le remboursement sera effectué dans un délai de 14jours à
    compter de la réception, par le Vendeur, des Produits retournés par le Client dans les conditions prévues au
    présent article.
  </p>
</main>

<%- include('../base/footer') %>