<%- include('../base/header', {
    header: {
        title: "OmniBetter - Conditions d'utilisation",
        css: "policies/model"
    }
}) %>

<main>
  <h1>Conditions d'Utilisation</h1>

  <p>Veuillez lire attentivement ces conditions d'utilisation avant d'utiliser nos services ou d'acheter nos produits. En accédant à notre site web et en effectuant des achats, vous acceptez d'être lié par ces conditions.</p>

  <h2>ARTICLE 1 - LES MENTIONS LÉGAL</h2>
  <p>
    L‘édition et la direction de la publication du site https:llomnîbetter.fr est assurée par Gomez Matisse, domicilié
    11 avenue des chasseurs. <br><br>
    Numéro de téléphone est 0658380788<br><br>
    Adresse email support@omnibetter.fr.<br><br>
    L'hébergeur du site httpszllomnibetter.fr est la société IONOS SARL (UNETUN-UN ET UN-1ET1), dont le
    siège social est situé au 7 PI. de la Gare, 57200 Sarreguemines, avec le numéro de téléphone : 0970 808
    911.
  </p>

  <h2>ARTICLE 2 - ACCÈS AU SITE</h2>
  <p>
    Le site <a class="contact" href="https://omnibetter.fr">https://omnibetter.fr</a> permet à l‘Utilisateur un accès gratuit aux services suivants :<br><br>
    Le site internet propose les services suivants :<br><br>
    ordinateur de bureau, ordinateur gaming, PC bureautique, PC gaming, ordinateur pré—monté, con?guration
    gaming, con?guration bureautique, matériel informatique, composants PC, gaming professionnel, jeux vidéo,
    performance informatique, multitâches, productivité, conception graphique, développement de logiciels,
    streaming, gaming compétitif, haute performance, gaming en ligne, eSports<br><br>
    Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais
    supportés par l‘Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.)
    sont à sa charge.<br><br>
    L‘Utilisateur non membre n'a pas accès aux services réservés. Pour cela, il doit s’inscrire en remplissant le
    formulaire. En acceptant de s’inscrire aux services réservés, l’Utilisateur membre s’engage à fournir des
    informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse
    email.<br><br>
    Pour accéder aux services, l’Utilisateur doit ensuite s‘identi?er à l‘aide de son identi?ant et de son mot de
    passe qui lui seront communiqués après son inscription.<br><br>
    Tout Utilisateur membre régulièrement inscrit pourra également solliciter sa désinscription en se rendant à la
    page dédiée sur son espace personnel. Celle—ci sera effective dans un délai raisonnable.<br><br>
    Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou
    serveur et sous réserve de toute interruption ou modi?cation en cas de maintenance, n'engage pas la
    responsabilité de <a class="contact" href="https://omnibetter.fr">https://omnibetter.fr</a>. Dans ces cas, l’Utilisateur accepte ainsi ne pas tenir rigueur à l’éditeur
    de toute interruption ou suspension de service, même sans préavis.<br><br>
    L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l'adresse email de l'éditeur
    communiqué à l‘ARTICLE 1.
  </p>

  <h2>ARTICLE 3 - COLLECTE DES DONNÉES</h2>
  <p>
    Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la
    vie privée conformément à la loi n°78—17 du Bjanvier 1978 relative à l'informatique, aux ?chiers et aux
    libertés.<br><br>
    En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l‘Utilisateur dispose d'un droit d'accès,
    de recti?cation, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :<br><br>
    - par mail à l'adresse email <a class="contact" href="mailto:support@omnibetter.fr">support@omnibetter.fr</a><br><br>
    - via un formulaire de contact ;<br><br>
    - via son espace personnel;
  </p>

  <h2>ARTICLE 4 - PROPRIÉTÉ INTELLECTUELLE</h2>
  <p>
    Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son...) font l‘objet d'une
    protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.<br><br>
    L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des
    différents contenus. Il s‘engage à une utilisation des contenus du site dans un cadre strictement privé, toute
    utilisation à des fins commerciales et publicitaires est strictement interdite.<br><br>
    Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l'autorisation
    expresse de l’exploitant du site Internet constituerait une contrefaçon sanctionnée par l’article L 335-2 et
    suivants du Code de la propriété intellectuelle.<br><br>
    Il est rappelé conformément à l'article L122—5 du Code de propriété intellectuelle que l’Utilisateur qui
    reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.
  </p>

  <h2>ARTICLE 5 - RESPONSABILITÉ</h2>
  <p>
    Les sources des informations diffusées sur le site <a class="contact" href="https://omnibetter.fr">https://omnibetter.fr</a> sont réputées fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.<br><br>
    Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré
    des mises à jour régulières, le site htfpsrl/omnibettenfr ne peut être tenu responsable de la modi?cation des
    dispositions administratives etjuridîques survenant après la publication. De même, le site ne peut être tenue
    responsable de l’utilisation et de l‘interprétation de l’information contenue dans ce site.<br><br>
    L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit
    sa forme, est interdite. Il assume les risques liés à l'utilisation de son identi?ant et mot de passe. Le site
    décline toute responsabilité.<br><br>
    Le site httpszllomnibetter.fr ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter
    l'ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au
    téléchargement provenant de ce site.<br><br>
    La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et
    insurmontable d'un tiers.
  </p>

  <h2>ARTICLE 6 - LIENS HYPERTEXTES</h2>
  <p>
    Des liens hypertextes peuvent être présents sur le site. L‘Utilisateur est informé qu’en cliquant sur ces liens, il
    sortira du site <a class="contact" href="https://omnibetter.fr">https://omnibetter.fr</a>. Ce dernier n’a pas de contrôle sur les pages web sur lesquelles
    aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.
  </p>

  <h2>ARTICLE 7 - COOKIES</h2>
  <p>
    L‘Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son
    logiciel de navigation.<br><br>
    Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l'Utilisateur
    par votre navigateur et qui sont nécessaires à l’utilisation du site https:llomnibetîenfn Les cookies ne
    contiennent pas d’information personnelle et ne peuvent pas être utilisés pour identi?er quelqu’un. Un cookie
    contient un identi?ant unique, généré aléatoirement et donc anonyme. Certains cookies expirent à la ?n de la
    visite de l’Utilisateur, d’autres restent.<br><br>
    L‘infonnation contenue dans les cookies est utilisée pour améliorer le site <a class="contact" href="https://omnibetter.fr">https://omnibetter.fr</a>.
    En naviguant sur le site, L’Utilisateur les accepte.<br><br>
    L‘Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres ?gurant au sein de son logiciel
    de navigation.
  </p>

  <h2>ARTICLE 8 - DROIT APPLICABLE ET JURIDICTION COMPÉTENTE</h2>
  <p>
    La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né
    entre les parties, les tribunaux français seront seuls compétents pour en connaître.<br><br>
    Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux
    coordonnées inscrites à l’ARTICLE 1.
  </p>
</main>

<%- include('../base/footer') %>