<footer>
  <section class="footer__top">
    <section class="footer__aboutMe">
      <p class="footer__aboutMe__title">À propos de nous</p>
      <p class="footer__aboutMe__p">OmniBetter excelle dans la fabrication sur mesure de PC Gamer, offrant une personnalisation complète pour répondre à vos besoins spécifiques. Notre équipe d'ingénieurs dévoués sélectionne méticuleusement chaque composant pour garantir des performances optimales. Chaque PC est assemblé avec une expertise technique, assurant une expérience de jeu fluide et fiable.</p>
    </section>
    <section class="footer__category">
      <p class="footer__category__title">Menu</p>
      <div class="footer__category__manager">
        <a href="/shop/gaming">Pc gaming</a>
        <a href="/shop/office">Pc bureautique</a>
        <a href="/archivement">Nos réalisations</a>
        <a href="/contact">Nous contacter</a>
      </div>
    </section>
    <section class="footer__policies">
      <p class="footer__policies__title">Nos politiques</p>
      <div class="footer__category">
        <div class="footer__category__manager">
          <a href="/policies/general-terms-and-conditions-of-sale">Conditions générales de vente</a>
          <a href="/policies/privacy-policy">Politique de confidentialité</a>
          <a href="/policies/terms-of-service">Conditions d'utilisation</a>
          <a href="/policies/shipping-policy">Conditions de livraison</a>
        </div>
      </div>
    </section>
  </section>
  <div class="footer__separation"></div>
  <section class="footer__bottom">
    <p class="footer__bottom__copyright">Copyright © 2024 All Rights Reserved by OmniBetter.</p>
    <div class="footer__bottom__socialMedia">
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-x-twitter"></i></a>
      <a href=""><i class="fa-brands fa-tiktok"></i></a>
    </div>
  </section>
</footer>