<%- include('base/header', { header: { title: "OmniBetter - Nos réalisations" ,
  css: "404" } }) %>

<main>
  <section class="body__main__404">
    <h1 class="body__main__h1">404</h1>
    <p class="body__main__p">
      La page que vous avez tenté de visualiser renvoie une erreur, veuillez vérifier si elle existe toujours. <br>
      Si elle était temporairement inaccessible, assurez-vous qu'elle est désormais disponible. <br>
      Si le problème persiste, veuillez contacter notre support technique pour obtenir de l'aide.
    </p>
  </section>
</main>


<%- include('base/footer') %>