main {
    padding: 0 250px 200px 250px;
}

small:empty {
    display: none;
}

small {
    color: #fff;
    font-size: 14px;
    background-color: rgba(255, 0, 0, .65);
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

.body__main__h1 {
    color: #fff;
    font-size: 40px;
    position: relative;
    margin-bottom: 35px;
}

.body__main__h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 4px;
    width: 50%;
    max-width: 130px;
    min-width: 100px;
    background: var(--orange);
}

.body__main__path {
    opacity: 0.8;
    color: #fff;
    font-size: 18px;
    margin-bottom: 50px;
}

.body__main__path span {
    margin: 0 10px;
}

.body__main__path a {
    color: var(--orange);
    text-decoration: underline;
    text-underline-offset: 8px;
}

.body__main__password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.body__main__password__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    width: 50%;
}

.body__main__password__form__check,
.body__main__password__form__error {
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 15px;

    line-height: 30px;
}

.body__main__password__form__check {
    background-color: rgba(0, 128, 0, .65);
}

.body__main__password__form__error {
    background-color: rgba(255, 0, 0, .65)
}

.body__main__password__form__currentPassword,
.body__main__password__form__newPassword,
.body__main__password__form__retypePassword {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body__main__password__form__currentPassword label,
.body__main__password__form__newPassword label,
.body__main__password__form__retypePassword label {
    color: #fff;
    font-size: 18px;
}

.body__main__password__form__currentPassword__input input::placeholder,
.body__main__password__form__newPassword__input input::placeholder,
.body__main__password__form__retypePassword__input input::placeholder {
    opacity: 0.8;
    color: #fff;
    font-family: var(--font);
}

.body__main__password__form__currentPassword__input,
.body__main__password__form__newPassword__input,
.body__main__password__form__retypePassword__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #00000033;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .1s linear;
}

.body__main__password__form__currentPassword__input input,
.body__main__password__form__newPassword__input input,
.body__main__password__form__retypePassword__input input {
    border: none;
    height: 56px;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    padding: 5px 20px;
    color: #fff;
    font-family: var(--font);
    width: 100%;
    box-sizing: border-box;
}

.body__main__password__form__currentPassword__input:focus-within,
.body__main__password__form__newPassword__input:focus-within,
.body__main__password__form__retypePassword__input:focus-within {
    border: 1px solid var(--orange);
}

.body__main__password__form__currentPassword__input i,
.body__main__password__form__newPassword__input i,
.body__main__password__form__retypePassword__input i {
    margin: 0 30px;
    color: #fff;
    cursor: pointer;
}

.body__main__password__form__submit input {
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    width: 100%;
    padding: 13px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .1s linear;
}

.body__main__password__form__submit input:not(:disabled):hover {
    transform: translateY(-5px);
}

.body__main__password__form__currentPassword__input input:disabled,
.body__main__password__form__newPassword__input input:disabled,
.body__main__password__form__retypePassword__input input:disabled,
.body__main__password__form__submit input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.body__main__separation {
    height: auto;
    width: 1px;
    background-color: #ffffff21;
    margin: 0 100px;
}

.body__main__password__form__history {
    width: 50%;
    padding-right: 10px;
    overflow: auto;
}

.body__main__password__form__history__h2 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.body__main__password__form__history__manager {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body__main__password__form__history__manager__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #00000033;
    color: #fff;
    font-size: 16px;
    padding: 6px 10px;
    transition: all .1s linear;
    cursor: pointer;
}

.body__main__password__form__history__manager__container:hover {
    background-color: var(--orange);
}

.body__main__password__form__history__manager__container__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width: 1590px) {
    main {
        padding: 0 100px 200px 100px;
    }
}

@media screen and (max-width: 1260px) {
    main {
        padding: 0 15px 200px 15px;
    }
}

@media screen and (max-width: 1000px) {
    .body__main__separation {
        margin: 0 50px;
    }
}

@media screen and (max-width: 900px) {
    main {
        padding: 0 15px 100px 15px;
    }

    .body__main__password__form,
    .body__main__password__form__history {
        width: 100%;
        gap: 10px;
    }

    .body__main__separation {
        height: 1px;
        width: 100%;
        margin: 50px 0;
    }

    .body__main__password {
        flex-direction: column;
        height: auto;
    }
}