main {
    padding: 0 250px 100px 250px;
}

label:empty {
    display: none;
}

.body__main__h1 {
    color: #fff;
    font-size: 40px;
    position: relative;
    margin-bottom: 35px;
}

.body__main__h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 4px;
    width: 50%;
    max-width: 130px;
    min-width: 100px;
    background: var(--orange);
}

.body__main__path {
    opacity: 0.8;
    color: #fff;
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 30px;
    overflow: auto;
}

.body__main__path::-webkit-scrollbar {
    height: 2px;
}

.body__main__path span {
    margin: 0 10px;
}

.body__main__path a {
    color: var(--orange);
    text-decoration: underline;
    text-underline-offset: 8px;
}

.body__main__findCommand {
    display: flex;
    flex-direction: row;
    max-height: 60px;
    gap: 50px;
    width: 100%;
}

.body__main__findCommand__inputFind {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.body__main__findCommand__inputFind label {
    color: #fff;
    font-size: 18px;
}

.body__main__findCommand__inputFind input::placeholder {
    opacity: 0.8;
    color: #fff;
    font-family: var(--font);
}

.body__main__findCommand__inputFind input {
    border: 1px solid #00000033;
    border-radius: 5px;
    height: 60px;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px 20px;
    color: #fff;
    transition: all .1s linear;
    font-family: var(--font);
    width: 100%;
    box-sizing: border-box;
}

.body__main__findCommand__inputFind input:focus {
    border: 1px solid var(--orange);
}

.body__main__findCommand__findByCategory {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
}

.body__main__findCommand__findByCategory__placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3a4046;
    color: #fff;
    height: 60px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.body__main__findCommand__findByCategory__placeholder i.active {
    transform: rotate(180deg);
}

.body__main__findCommand__findByCategory__select {
    position: absolute;
    top: 115%;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #3a4046;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
    z-index: 99;
}

.body__main__popup__content__form__selectCategory__select {
    background-color: #495057;
}

.body__main__findCommand__findByCategory__select.active {
    display: flex;
}

.body__main__findCommand__findByCategory__select a {
    padding: 10px;
    text-align: center;
    transition: all .1s linear;
    background-color: #3a4046;
    cursor: pointer;
}

.body__main__findCommand__findByCategory__select a:hover {
    background-color: #ffffff5e;
}

.body__main__commands {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.body__main__commands__container {
    border: 1px solid #00000033;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 5px;
    transition: all .1s linear;
    color: #fff;
}

.body__main__commands__container:hover {
    border: 1px solid var(--orange);
}

.body__main__commands__container__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.body__main__commands__container__info__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.body__main__commands__container__info__left__h2 {
    font-size: 30px;
}

.body__main__commands__container__info__left__h2 .status0,
.body__main__commands__container__info__left__h2 .status1,
.body__main__commands__container__info__left__h2 .status2 {
    color: var(--orange);
}

.body__main__commands__container__info__left__h2 .status3 {
    color: var(--green);
}

.body__main__commands__container__info__left__reference,
.body__main__commands__container__info__left__deliveryAddress,
.body__main__commands__container__info__left__total,
.body__main__commands__container__article__container__info__price,
.body__main__commands__container__article__container__info__quantity,
.body__main__commands__container__article__container__info__assembly {
    font-size: 16px;
    opacity: 0.8;
}

.body__main__commands__container__info__rigth {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    box-sizing: border-box;
}

.body__main__commands__container__info__rigth span {
    background-color: var(--orange);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: not-allowed;
    opacity: 0.5;
    color: #fff;
}

.body__main__commands__container__article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body__main__commands__container__article__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.body__main__commands__container__article__container__left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.body__main__commands__container__article__container__image img {
    height: 200px;
    width: auto;
}

.body__main__commands__container__article__container__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.body__main__commands__container__article__container__rigth {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}


.body__main__commands__container__article__container__rigth span {
    background-color: var(--orange);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: not-allowed;
    opacity: 0.5;
    color: #fff;
}

.body__main__anyCommand {
    font-size: 40px;
    text-align: center;
    margin: 100px 0;
    color: #fff;
}

@media screen and (max-width: 1590px) {
    main {
        padding: 0 100px 200px 100px;
    }
}

@media screen and (max-width: 1260px) {
    main {
        padding: 0 15px 200px 15px;
    }
}

@media screen and (max-width: 870px) {

    .body__main__commands__container__info,
    .body__main__commands__container__article__container {
        flex-direction: column;
        gap: 30px;
    }

    .body__main__commands__container__info__left,
    .body__main__commands__container__info__rigth,
    .body__main__commands__container__article__container__left,
    .body__main__commands__container__article__container__rigth {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .body__main__findCommand {
        flex-direction: column;
        gap: 30px;
        max-height: none;
    }

    .body__main__findCommand__findByCategory {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .body__main__commands__container {
        padding: 20px 30px;
    }

    .body__main__commands__container__info__left__h2 {
        font-size: 25px;
    }

    .body__main__commands__container__article__container__image img {
        height: 160px;
        width: auto;
    }

    .body__main__commands__container__article__container__info__title {
        font-size: 16px;
    }

    .body__main__commands__container__info__left__reference,
    .body__main__commands__container__info__left__deliveryAddress,
    .body__main__commands__container__info__left__total,
    .body__main__commands__container__article__container__info__price,
    .body__main__commands__container__article__container__info__quantity {
        font-size: 14px;
    }

    .body__main__commands__container__article__container__left {
        gap: 0;
    }

    .body__main__commands__container__article__container__image img {
        display: none;
    }

    .body__main__anyCommand {
        font-size: 30px;
    }
}