main {
    padding: 0 250px;
}

small:empty {
    display: none;
}

small {
    color: #fff;
    font-size: 14px;
    background-color: rgba(255, 0, 0, .65);
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

.body__main__resetPassword {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    gap: 100px;
}

.body__main__resetPassword__left,
.body__main__editPassword__left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.body__main__resetPassword__left__h1,
.body__main__editPassword__left__h1 {
    color: var(--orange);
    font-size: 80px;
    margin-bottom: 30px;
}

.body__main__resetPassword__left__p,
.body__main__editPassword__left__p {
    font-size: 18px;
    color: #fff;
    line-height: 32px;
}

.body__main__resetPassword__left__p span,
.body__main__editPassword__left__p span {
    color: var(--orange);
}

.body__main__resetPassword__left__p a,
.body__main__editPassword__left__p a {
    color: var(--orange);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.body__main__resetPassword__rigth,
.body__main__editPassword__rigth {
    width: 50%;
}

.body__main__resetPassword__rigth__error,
.body__main__resetPassword__rigth__check,
.body__main__editPassword__rigth__check {
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.body__main__resetPassword__rigth__error {
    background-color: rgba(255, 0, 0, .65);
}

.body__main__resetPassword__rigth__check,
.body__main__editPassword__rigth__check {
    background-color: rgba(0, 128, 0, .65);
}

.body__main__resetPassword__rigth__form,
.body__main__editPassword__rigth__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.body__main__resetPassword__rigth__form__email,
.body__main__editPassword__rigth__form__password,
.body__main__editPassword__rigth__form__retype {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body__main__resetPassword__rigth__form__email label,
.body__main__editPassword__rigth__form__password label,
.body__main__editPassword__rigth__form__retype label {
    color: #fff;
    font-size: 18px;
}

.body__main__resetPassword__rigth__form__email input {
    border: 1px solid #00000033;
    border-radius: 5px;
    height: 60px;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px 20px;
    color: #fff;
    transition: all .1s linear;
    font-family: var(--font);
    width: 100%;
    box-sizing: border-box;
}

.body__main__resetPassword__rigth__form__email input::placeholder,
.body__main__editPassword__rigth__form__password__input input::placeholder,
.body__main__editPassword__rigth__form__retype__input input::placeholder {
    opacity: 0.8;
    color: #fff;
    font-family: var(--font);
}

.body__main__resetPassword__rigth__form__email input:focus {
    border: 1px solid var(--orange);
}

.body__main__editPassword__rigth__form__password__input:focus-within,
.body__main__editPassword__rigth__form__retype__input:focus-within {
    border: 1px solid var(--orange);
}

.body__main__editPassword__rigth__form__password__input,
.body__main__editPassword__rigth__form__retype__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #00000033;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .1s linear;
}

.body__main__editPassword__rigth__form__password__input i,
.body__main__editPassword__rigth__form__retype__input i {
    margin: 0 30px;
    color: #fff;
    cursor: pointer;
}

.body__main__editPassword__rigth__form__password__input input,
.body__main__editPassword__rigth__form__retype__input input {
    border: none;
    height: 56px;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    padding: 5px 20px;
    color: #fff;
    font-family: var(--font);
    width: 100%;
    box-sizing: border-box;
}

.body__main__resetPassword__rigth__form__submit,
.body__main__editPassword__rigth__form__submit {
    display: flex;
}

.body__main__resetPassword__rigth__form__submit button,
.body__main__editPassword__rigth__form__submit button {
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    width: 100%;
    padding: 13px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .1s linear;
}

.body__main__resetPassword__rigth__form__submit button:not(:disabled):hover,
.body__main__editPassword__rigth__form__submit button:not(:disabled):hover {
    transform: translateY(-5px);
}

.body__main__editPassword__rigth__form__password__input input:disabled,
.body__main__editPassword__rigth__form__retype__input input:disabled,
.body__main__resetPassword__rigth__form__submit button:disabled,
.body__main__editPassword__rigth__form__submit button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.body__main__resetPassword__rigth__anyAccount {
    display: flex;
    justify-content: center;
    color: var(--orange);
    font-size: 16px;
    transition: all .1s linear;
    text-align: center;
}

@media screen and (max-width: 1590px) {
    main {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1260px) {
    main {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1200px) {
    .body__main__resetPassword {
        flex-direction: column;
        gap: 50px;
    }

    .body__main__resetPassword__left,
    .body__main__resetPassword__rigth {
        width: 100%;
    }

    .body__main__resetPassword__left__h1,
    .body__main__editPassword__left__h1 {
        font-size: 60px;
        text-align: center;
    }

    .body__main__resetPassword__left__p,
    .body__main__editPassword__left__p {
        text-align: center;
    }
}

@media screen and (max-width: 420px) {

    .body__main__resetPassword__left__h1,
    .body__main__editPassword__left__h1 {
        font-size: 45px;
    }

    .body__main__resetPassword__left__p,
    .body__main__editPassword__left__p {
        font-size: 16px;
    }
}